/*===== Variables =====*/
:root {
    --color-primary: #1846c7;
    --color-primary-hover: #1743bd;
    --color-danger: #ee215b;
    --color-text: #333;
    --color-muted: #858585;
    --color-bg: #fff;
    --color-hover: #ddd;
    --color-border: #e7e7e7;
    --border: 0.05rem solid var(--color-border);
    --radius: 0.5rem;
    --padding: 0.5rem 1rem;
    --margin-block: 0.5rem;
}

/*===== Common =====*/
.reviews-title {
    color: var(--color-text);
    font-size: 1rem;
    font-weight: bold;
}

.error {
    color: var(--color-danger);
}

.note {
    color: var(--color-muted);
    text-align: center;
}

/*===== Header =====*/
#reviews-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    border-bottom: var(--border);
}

#reviews-header {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0;
}

#reviews-menu {
    cursor: pointer;
    background: var(--color-primary);
    color: var(--color-bg);
    font-weight: bold;
    padding: var(--padding);
    border-radius: var(--radius);
    margin: 0;
}

#reviews-menu:hover {
    background: var(--color-primary-hover);
}

#reviews-isu-box a {
    background: var(--color-primary);
    color: var(--color-bg);
    font-weight: bold;
    padding: var(--padding);
    border-radius: var(--radius);
}

#reviews-isu-box a:hover {
    background: var(--color-primary-hover);
}

/*===== Input =====*/
#reviews-input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

#reviews-input {
    width: 100%;
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--radius);
    padding-right: 2rem;
}

#reviews-input:hover {
    border-color: var(--color-hover);
}

#reviews-input-reset {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    border: none;
    background: var(--color-bg);
    color: var(--color-text);
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

#reviews-input-reset:hover {
    background-color: var(--color-hover);
}

/*===== Dropdown =====*/
.comments-dropdown {
    width: 100%;
    background: var(--color-border);
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--radius);
    cursor: pointer;
    margin-bottom: var(--margin-block);
}

.comments-dropdown:hover {
    border-color: var(--color-hover);
}

/*===== Search list =====*/
.search-item {
    background: var(--color-bg);
    padding: 0.375rem;
    border-bottom: var(--border);
}

.search-item:last-child {
    border-bottom: none;
}

.search-item:hover, .search-item:focus {
    background: var(--color-hover);
}

.search-id {
    display: none;
    color: var(--color-muted);
}

/*===== Rating =====*/
.rating-box {
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--radius);
    margin-bottom: var(--margin-block);
}

.rating-title {
    color: var(--color-muted);
}

.rating-value {
    color: var(--color-text);
}

/*===== Stars =====*/

.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    line-height: 1;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    color: var(--color-border);

    padding: 0 1px;
    user-select: none;
    transition: color 200ms;
}

.rating label:hover,
.rating label:hover ~ label {
    color: var(--color-primary-hover);
}

.rating input:checked ~ label {
    color: var(--color-primary);
}

/*===== Summary block =====*/
.summaries {
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--radius);
    margin-bottom: var(--margin-block);
}

.summary {
    padding: 0.125rem;
    border-bottom: var(--border);
}

.summary:last-child {
    border-bottom: none;
}

.summary-title {
    color: var(--color-muted);
}

.summary-value {
    color: var(--color-text);
}


/*===== Comments =====*/
.comment {
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--radius);
    margin-bottom: var(--margin-block);
}

.comment-head {
    color: var(--color-muted);
    font-size: 0.625rem
}

/*===== Karma =====*/
.karma {
    display: inline-flex;
}

.karma-btn {
    cursor: pointer;
    background: var(--color-border);
    border-radius: var(--radius);
    border: var(--border);
}

.karma-btn:hover {
    background: var(--color-hover);
}

.karma-value {
    padding: 0 0.5rem;
}

/*===== Login form =====*/

.login-form {
    width: min(100%, 400px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: var(--border);
    border-radius: 1rem;
}

.login-form button {
    cursor: pointer;
    background: #333;
    color: #fff;
    width: 100%;
    padding: 1rem;
    border: var(--border);
    border-radius: 1rem;
}

.login-form button:hover {
    background: #4a4949;
}

.login-form input[type="email"], .login-form input[type="password"] {
    color: #333;
    background: #fff;
    width: 100%;
    padding: 1rem;
    border: var(--border);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

/*===== Menu =====*/
.reviews-menu {
    width: 100%;
}

.reviews-menu-item {
    cursor: pointer;
    background: var(--color-bg);
    color: var(--color-text);
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--radius);
    margin-bottom: var(--margin-block);
    margin-right: var(--margin-block);
}

.reviews-menu-item:hover {
    border-color: var(--color-hover);
}

.reviews-menu-item:disabled {
    cursor: not-allowed;
    background: var(--color-border);
}

.reviews-menu-item:disabled:hover {
    border-color: var(--color-border);
}
